<?php
/**
 * @var $block \Andriynomed\Slider\Block\Slide
 */
?>
<h1><?php echo __('Slide') ?></h1>
<ul class="slide-post-list">
    <?php
    /**
     * @var $post \Andriynomed\Slider\Model\Slide
     */
    ?>
    <?php foreach ($block->getSlides() as $slide): ?>
        <li class="slide-post-list-item">
            <p><?php echo $slide->getId() ?></p>
            <p><?php echo $slide->isEnabled() ?></p>
            <p><?php echo $slide->getTitle() ?></p>
            <p><?php echo $slide->isShowTitle() ?></p>
            <p><?php echo $slide->getDescription() ?></p>
            <p><?php echo $slide->isShowDescription() ?></p>
            <p><?php echo $slide->getImageSrc() ?></p>
            <p><?php echo $slide->getImageAlt() ?></p>
            <p><?php echo $slide->getSlideType() ?></p>
            <p><?php echo $slide->getProductId() ?></p>
            <p><?php echo $slide->getImageHref() ?></p>
            <p><?php echo $slide->getOrder() ?></p>
            <p><?php echo $slide->getSliderId() ?></p>
            <p><?php echo $slide->getTarget() ?></p>
            <p><?php echo $slide->getFromTime() ?></p>
            <p><?php echo $slide->getToTime() ?></p>
        </li>
    <?php endforeach; ?>
</ul>